botorch==0.5.1
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
ConfigArgParse==1.5.3
cycler==0.11.0
Flask==2.0.2
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
fonttools==4.29.1
gevent==21.8.0
geventhttpclient==1.5.3
gpytorch==1.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.0.1
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.5.1
msgpack==1.0.2
numpy==1.21.2
packaging==21.3
Pillow==9.0.0
plotly==5.3.1
psutil==5.8.0
pyaml==21.10.1
pyparsing==3.0.7
pyswarm==0.6
python-dateutil==2.8.2
PyYAML==6.0
pyzmq==22.3.0
requests==2.26.0
roundrobin==0.0.2
scikit-learn==1.0
scikit-optimize==0.9.0
scipy==1.7.1
six==1.16.0
tenacity==8.0.1
threadpoolctl==3.0.0
torch==1.9.1
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
zope.event==4.5.0
zope.interface==5.4.0
